@charset "utf-8";
body.gmPhantom_zoom * { -webkit-user-select:none; }
.phantom_module {
  position:relative;
  font-family:"Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing:antialiased;
  z-index:1;
  max-width:100%;
  text-align:center;
}
body.gmedia-phantom .mfp-content {
  font-family:"Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing:antialiased;
}
.gmPhantom_Container * { -moz-box-sizing:content-box; box-sizing:content-box; }
.gmPhantom_Container {
  direction:ltr;
  margin:0 auto;
  overflow:hidden;
  padding:4px;
  position:relative;
  height:auto;
  width:100%;
  max-width:100%;
  z-index:0;
  opacity:1;
  text-align:center;
  -moz-transition:opacity 1s;
  -webkit-transition:opacity 1s;
  -o-transition:opacity 1s;
  -ms-transition:opacity 1s;
  transition:opacity 1s;
  -webkit-transform:translateZ(0);
  -moz-transform:translateZ(0);
  transform:translateZ(0);
}
div.gmPhantom_Container a {
  box-shadow:none;
}
div.gmPhantom_Container img {
  border:medium none;
  margin:0;
  padding:0;
}
.gmPhantom_thumbsWrapper::after { content:""; display:table; clear:both; }
.gmPhantom_thumbsWrapper {
  display:block;
  background:none repeat scroll 0 0 transparent;
  height:auto;
  margin:-8px 0 0 -8px;
  text-align:left;
  padding:0;
  z-index:2;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  width:100%;
}
div.gmPhantom_ThumbContainer,
div.gmPhantom_LoadMore {
  cursor:pointer;
  float:left;
  padding:2px;
  width:200px;
  height:180px;
  max-width:100%;
  max-height:100%;
  position:relative;
  border:1px solid #cccccc;
  background-color:#ffffff;
  box-shadow:0 0 4px -2px;
  overflow:hidden;
  margin:8px 0 0 8px;
  background:url(../img/loader.gif) -100% -100% no-repeat;
}
.gmPhantom_ThumbContainer {
  will-change: transform;
}
.gmPhantom_MobileView .gmPhantom_ThumbContainer,
.gmPhantom_MobileView .gmPhantom_LoadMore {
  width:150px;
  height:135px;
}
.gmPhantom_ThumbContainer.gmPhantom_ThumbLoader,
.gmPhantom_LoadMore.gmPhantom_ThumbLoader {
  background-position:50% 50%;
}
.gmPhantom_LoadMore .gmPhantom_pager {
  font-size:98px;
  line-height:180px;
  text-decoration:none;
  box-shadow:none;
  display:block;
  text-align:center;
  white-space:nowrap;
  position:relative;
}
.gmPhantom_LoadMore .gmPhantom_pager span { -webkit-transition:0.2s; transition:0.2s; }
.gmPhantom_LoadMore .gmPhantom_pager .gmPhantom_dots { display:block; position:absolute; left:0; top:0; right:0; bottom:0; opacity:1; overflow:hidden; }
.gmPhantom_LoadMore .gmPhantom_pager .gmPhantom_page { opacity:0; }
.gmPhantom_LoadMore .gmPhantom_pager:hover .gmPhantom_dots { top:50%; }
.gmPhantom_LoadMore .gmPhantom_pager:hover .gmPhantom_page { opacity:1; }
.gmPhantom_MobileView .gmPhantom_LoadMore .gmPhantom_pager {
  font-size:69px;
  line-height:135px;
}
.gmPhantom_LoadMore.gmPhantom_ThumbLoader .gmPhantom_pager { display:none; }
.gmPhantom_LoadMore[data-col="1"] {
  width:auto;
  height:50px;
  float:none;
  transform:translate(0, 8px);
  clear:both;
  margin-bottom:8px;
}
.gmPhantom_LoadMore[data-col="1"] .gmPhantom_pager,
.gmPhantom_MobileView .gmPhantom_LoadMore[data-col="1"] .gmPhantom_pager {
  font-size:40px;
  line-height:50px;
}
.gmPhantom_Thumb {
  display:block !important;
  margin:0;
  overflow:hidden;
  padding:0;
  position:relative !important;
  width:100%; height:100%;
  -webkit-transition:0.2s; transition:0.2s;
  -webkit-transition-property:all !important;
  transition-property:all !important;
  opacity:0.90;
  filter:alpha(opacity=90);
  backface-visibility:visible;
  border:none !important;
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
}
.gmPhantom_Thumb:hover, .gmPhantom_Thumb:active {
  display:block;
  outline:none;
  margin:0;
  overflow:hidden;
  padding:0;
  position:relative;
  width:100%; height:100%;
}
.gmPhantom_ThumbContainer:hover .gmPhantom_Thumb {
  opacity:1;
  filter:alpha(opacity=100);
}
.gmPhantom_ThumbScale .gmPhantom_ThumbContainer:hover .gmPhantom_Thumb {
  transform:scale(1.2) translateZ(0); -webkit-transform:scale(1.2) translateZ(0);
}
.gmPhantom_Thumb > div {
  position:absolute;
  left:0;
  top:0;
  bottom:0;
  right:0;
  width:100%;
  height:100%;
  padding:0 !important; margin:0 !important;
  z-index:0 !important;
}
.gmPhantom_Thumb img {
  position:absolute;
  left:50%; top:50%; transform:translate(-50%, -50%) translateZ(0);
  display:block;
  border:0;
  margin:0;
  padding:0;
  max-height:none !important;
  max-width:none !important;
  min-height:0 !important;
  min-width:0 !important;
}
.gmPhantom_Thumb img.landscape { height:100% !important; width:auto !important; }
.gmPhantom_Thumb img.portrait { height:auto !important; width:100% !important; }
.gmPhantom_ThumbLabel {
  font-family:Arial, Helvetica, Verdana, sans-serif;
  font-size:14px;
  font-weight:bold;
  line-height:1em;
  padding:7px 10px;
  position:absolute;
  bottom:0; left:0; right:0;
  color:#0b0b0b;
  background-color:#ffffff;
  text-align:left;
  max-height:100%;
  overflow:hidden;
  -webkit-transition:0.2s; transition:0.2s;
}
.gmPhantom_ThumbLabel a {
  font-family:Arial, Helvetica, Verdana, sans-serif;
  font-size:inherit;
  font-weight:bold;
  line-height:1em;
  color:#3695e7;
  background-color:transparent;
  display:inline;
}
.gmPhantom_LabelTolltip .gmPhantom_ThumbLabel,
.gmPhantom_LabelNone .gmPhantom_ThumbLabel { display:none; }
.gmPhantom_LabelInside .gmPhantom_ThumbLabel,
.gmPhantom_LabelHover .gmPhantom_ThumbLabel {
  color:#ffffff;
  opacity:0;
  padding:14px 10px 10px;
  background:-webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.6)));
  background:-webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
  background:-moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
  background:linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
  -webkit-transition:opacity 0.3s;
  -moz-transition:opacity 0.3s;
  transition:opacity 0.3s;
}
.gmPhantom_LabelHover .gmPhantom_ThumbLabel .gmPhantom_ThumbLabel_title {
  display:block;
  transform:translateY(100%) translateZ(0);
  opacity:0;
  -webkit-transition:all 0.3s;
  -moz-transition:all 0.3s;
  transition:all 0.3s;
}
.gmPhantom_LabelHover .gmPhantom_ThumbContainer:hover .gmPhantom_ThumbLabel .gmPhantom_ThumbLabel_title { transform:translateY(0) translateZ(0); opacity:1; }
.gmPhantom_LabelInside .gmPhantom_ThumbLabel a,
.gmPhantom_LabelHover .gmPhantom_ThumbLabel a,
.gmPhantom_LabelInside .gmPhantom_ThumbLabel a:hover,
.gmPhantom_LabelHover .gmPhantom_ThumbLabel a:hover { color:#e7e179; }
.gmPhantom_LabelInside .gmPhantom_ThumbLabel,
.gmPhantom_LabelHover .gmPhantom_ThumbContainer:hover .gmPhantom_ThumbLabel { opacity:1; }
.gmPhantom_LabelBottom .gmPhantom_ThumbContainer { padding-bottom:36px; }
.gmPhantom_LabelBottom .gmPhantom_ThumbLabel { background-color:#ffffff; min-height:36px; box-sizing:border-box; }
div.gmPhantom_Tooltip {
  border-radius:3px;
  border:1px solid #000000;
  display:none;
  font-family:Arial, Helvetica, Verdana, sans-serif;
  font-size:11px;
  font-weight:normal;
  line-height:1.5em;
  padding:0 5px 1px;
  position:absolute;
  text-align:center;
  text-transform:none;
  z-index:300;
  pointer-events:none;
  background-color:#ffffff;
}
.gmPhantom_Tooltip div.gmPhantom_Tooltip_ArrowBorder {
  border-color:#000000 transparent transparent;
  border-style:solid;
  border-width:5px;
  bottom:-10px;
  height:0;
  position:absolute;
  width:0;
}
.gmPhantom_Tooltip div.gmPhantom_Tooltip_Arrow {
  border-color:#ffffff transparent transparent;
  border-style:solid;
  border-width:5px;
  bottom:-9px;
  height:0;
  position:absolute;
  width:0;
}
body .gmShowBuster { display:block !important; }
/** Magnific Popup custom CSS */
.gmedia-phantom .mfp-ready .mfp-figure { opacity:0; filter:alpha(opacity=0); }
.gmedia-phantom .mfp-zoom-in { }
.gmedia-phantom .mfp-zoom-in.mfp-bg,
.gmedia-phantom .mfp-zoom-in .mfp-figure,
.gmedia-phantom .mfp-zoom-in .mfp-iframe-wrapper,
.gmedia-phantom .mfp-zoom-in button,
.gmedia-phantom .mfp-zoom-in .mfp-button,
.gmedia-phantom .mfp-gmedia-stuff08,
.gmedia-phantom .mfp-gmedia-stuff10 { opacity:0; filter:alpha(opacity=0); -webkit-backface-visibility:hidden; -webkit-transition:all 0.3s ease-out; -moz-transition:all 0.3s ease-out; -o-transition:all 0.3s ease-out; transition:all 0.3s ease-out; }
.gmedia-phantom .mfp-zoom-in .mfp-figure { transform:scale(0.9) translateZ(0); }
.gmedia-phantom .mfp-zoom-in.mfp-ready.mfp-bg,
.gmedia-phantom .mfp-zoom-in.mfp-ready button,
.gmedia-phantom .mfp-zoom-in.mfp-ready .mfp-button,
.gmedia-phantom .mfp-ready .mfp-gmedia-stuff08 { opacity:0.8; filter:alpha(opacity=80); }
.gmedia-phantom .mfp-zoom-in.mfp-ready .mfp-button.mfp-button-active,
.gmedia-phantom .mfp-zoom-in.mfp-image-loaded .mfp-figure,
.gmedia-phantom .mfp-zoom-in.mfp-iframe-loaded .mfp-iframe-wrapper,
.gmedia-phantom .mfp-ready .mfp-gmedia-stuff10 { opacity:1; filter:alpha(opacity=100); }
.gmedia-phantom .mfp-zoom-in.mfp-image-loaded .mfp-figure { transform:scale(1) translateZ(0); }
.gmedia-phantom .mfp-wrap button:hover,
.gmedia-phantom .mfp-wrap button:focus,
.gmedia-phantom .mfp-button:hover,
.gmedia-phantom .mfp-button:focus,
.gmedia-phantom .mfp-button.mfp-gmedia-stuff08:hover,
.gmedia-phantom .mfp-button.mfp-gmedia-stuff08:focus { opacity:1; filter:alpha(opacity=100); }
.gmedia-phantom .mfp-ready.mfp-removing.mfp-bg,
.gmedia-phantom .mfp-ready.mfp-removing .mfp-preloader,
.gmedia-phantom .mfp-ready.mfp-removing .mfp-figure,
.gmedia-phantom .mfp-ready.mfp-removing .mfp-iframe-wrapper,
.gmedia-phantom .mfp-ready.mfp-removing .mfp-comments-container,
.gmedia-phantom .mfp-ready.mfp-removing button,
.gmedia-phantom .mfp-ready.mfp-removing .mfp-button,
.gmedia-phantom .mfp-ready.mfp-removing .mfp-gmedia-stuff08,
.gmedia-phantom .mfp-ready.mfp-removing .mfp-gmedia-stuff10 { opacity:0 !important; filter:alpha(opacity=0) !important; }
.gmedia-phantom .mfp-zoom-in.mfp-ready.mfp-removing .mfp-figure { transform:scale(0.9) translateZ(0); }
.gmedia-phantom .mfp-button:not(.mfp-close) { cursor:pointer; }
.gmedia-phantom .mfp-preloader { width:30px !important; height:30px; background-color:#ffffff; opacity:0.65; filter:alpha(opacity=65); margin:0 auto; animation:rotateplane 1.2s infinite ease-in-out; }
.gmedia-phantom .mfp-s-error .mfp-preloader { width:auto !important; height:30px; background-color:transparent; opacity:1; filter:alpha(opacity=100); margin:0 auto; animation:none; }
@keyframes rotateplane {
  0% { transform:perspective(120px) rotateX(0deg) rotateY(0deg) translateZ(0); }
  50% { transform:perspective(120px) rotateX(-180.1deg) rotateY(0deg) translateZ(0); }
  100% { transform:perspective(120px) rotateX(-180deg) rotateY(-179.9deg) translateZ(0); }
}
.gmedia-phantom .mfp-bg { top:-10%; bottom:-100%; right:-100%; height:auto; width:auto; }
.gmedia-phantom .mfp-bg,
.gmedia-phantom .mfp-wrap { z-index:999999; -webkit-overflow-scrolling:touch; -webkit-transform:translateZ(0); -moz-transform:translateZ(0); transform:translateZ(0); }
.gmedia-phantom .mfp-close.mfp-button,
.gmedia-phantom .mfp-arrow,
.gmedia-phantom .mfp-preloader { position:fixed; }
.gmedia-phantom .mfp-close.mfp-button,
.gmedia-phantom .mfp-arrow { overflow:visible; z-index:1046; }
.gmedia-phantom .mfp-close.mfp-button { right:auto; left:0; padding-right:10px; padding-left:0; }
.gmedia-phantom .mfp-arrow { bottom:50%; top:auto; margin-top:auto; margin-bottom:-55px; }
.gmedia-phantom .mfp-figure figure { min-width:308px; }
.gmedia-phantom img.mfp-img,
.gmedia-phantom img.mfp-img--comments-div { width:auto; max-width:100%; height:auto; display:block; line-height:0; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; padding:40px 0 40px; margin:0 auto; }
.gmedia-phantom .mfp-prevent-click { pointer-events:none; }
.gmedia-phantom .mfp-title { font-weight:bold; font-size:larger; white-space:nowrap; overflow:hidden; max-width:100%; text-overflow:ellipsis; }
.gmedia-phantom .mfp-title a { color:inherit !important; }
.gmedia-phantom .mfp-counter { color:#f3f3f3; opacity:0.9; filter:alpha(opacity=90); }
.gmedia-phantom .mfp-description { text-align:left; line-height:130%; color:#f3f3f3; word-wrap:break-word; padding:0; margin:10px 0; opacity:1; filter:alpha(opacity=100); min-width:250px; transition:opacity 0.6s, height 0.6s; -webkit-transition:opacity 0.3s, height 0.6s; }
.gmedia-phantom .mfp-buttons-bar { -webkit-user-select:none; -moz-user-select:none; user-select:none; -webkit-appearance:none; z-index:1046; position:fixed; right:3px; top:3px; margin:5px 5px 0 0; color:#ffffff; font-style:normal; font-size:20px; font-family:Arial, Baskerville, monospace; transform:translateZ(0); line-height:0; white-space:nowrap; overflow:visible; }
.gmedia-phantom .mfp-buttons-bar .mfp-button { display:inline-block; margin:0 10px; vertical-align:middle; }
.gmedia-phantom .mfp-share { cursor:pointer; display:block; position:relative; text-align:center; opacity:0.65; filter:alpha(opacity=65); }
.gmedia-phantom .mfp-share_open.mfp-share { opacity:1; filter:alpha(opacity=100); }
.gmedia-phantom .mfp-share:active > a { top:1px; }
.gmedia-phantom .mfp-comments-open .mfp-description { opacity:0; filter:alpha(opacity=0); height:0; margin:0; overflow:hidden; }
.gmedia-phantom .mfp-buttons-bar .mfp-share_sharelizers { position:absolute; left:-30px; top:0; display:block; margin:0; padding:0; list-style:none; white-space:nowrap; overflow:hidden; pointer-events:none; opacity:0; transform:translateX(-100%) translateZ(0); transition:opacity 0.2s ease-in-out; -webkit-transition:opacity 0.2s ease-in-out; }
.gmedia-phantom .mfp-buttons-bar .mfp-share_open .mfp-share_sharelizers { pointer-events:auto; opacity:1; }
.gmedia-phantom .mfp-buttons-bar .mfp-share_sharelizers li { list-style:none; margin:0; padding:0; display:inline-block; }
.gmedia-phantom .mfp-buttons-bar .mfp-share_sharelizer { box-sizing:content-box; padding:1px; display:inline-block; text-decoration:none; border-radius:3px; border:none; cursor:pointer; -webkit-box-shadow:rgba(255, 255, 255, 0.0980392) 0 1px 0 inset; box-shadow:rgba(255, 255, 255, 0.0980392) 0 1px 0 inset; line-height:100%; width:1em; height:1em; text-indent:-9999px; overflow:hidden; background:50% 50% no-repeat rgba(255, 255, 255, 0.14902); transition:background-color 0.2s ease-in-out; -webkit-transition:background-color 0.2s ease-in-out; }
.gmedia-phantom .mfp-buttons-bar .mfp-share_facebook { background-image:url('../img/facebook@2x.png'); background-size:1em 1em; }
.gmedia-phantom .mfp-buttons-bar .mfp-share_facebook:hover { background-color:#3b5998; }
.gmedia-phantom .mfp-buttons-bar .mfp-share_twitter { background-image:url('../img/twitter@2x.png'); background-size:1em 1em; }
.gmedia-phantom .mfp-buttons-bar .mfp-share_twitter:hover { background-color:#00aced; }
.gmedia-phantom .mfp-buttons-bar .mfp-share_pinterest { background-image:url('../img/pinterest@2x.png'); background-size:1em 1em; }
.gmedia-phantom .mfp-buttons-bar .mfp-share_pinterest:hover { background-color:#cc2127; }
.gmedia-phantom .mfp-buttons-bar .mfp-share_stumbleupon { background-image:url('../img/stumbleupon@2x.png'); background-size:1em 1em; }
.gmedia-phantom .mfp-buttons-bar .mfp-share_stumbleupon:hover { background-color:#ea4b24; }
.gmedia-phantom .mfp-comments,
.gmedia-phantom .mfp-likes { cursor:pointer; display:inline-block; text-align:center; opacity:0.65; filter:alpha(opacity=65); }
.gmedia-phantom .mfp-comments-count,
.gmedia-phantom .mfp-likes-count { font-size:0.7em; }
.gmedia-phantom .gmPhantom-liked .mfp_likes_icon { color:red; }
.gmedia-phantom .mfp-button > span,
.gmedia-phantom .mfp-button > a,
.gmedia-phantom .mfp-button > a:hover { display:inline-block; vertical-align:middle; position:relative; color:inherit !important; text-decoration:none !important; outline:none; font-size:inherit !important; }
.gmedia-phantom .mfp-button > span *,
.gmedia-phantom .mfp-button > a * { display:inline-block; }
.gmedia-phantom .mfp-content svg { position:static; display:block; width:1em; height:1em; fill:currentColor; }
.gmedia-phantom .mfp-container { bottom:0; height:auto; }
.gmedia-phantom .mfp-content { min-height:0; max-height:100%; padding:0; transition:padding 0.6s, min-height 0.6s; -webkit-transition:padding 0.6s, min-height 0.6s; box-sizing:border-box; }
.gmedia-phantom .mfp-content a:not(.gmPhantom_button) { color:#0099e6; }
.gmedia-phantom .mfp-iframe-holder { padding-top:0; padding-bottom:0; }
.gmedia-phantom .mfp-iframe-wrapper { position:relative; padding-bottom:40px; padding-top:40px; }
.gmedia-phantom .mfp-iframe-scaler { position:relative; box-shadow:0 0 8px rgba(0, 0, 0, 0.6); }
.gmedia-phantom [data-gmtype="audio"] .mfp-iframe-scaler { padding-top:25% }
.gmedia-phantom [data-gmtype="application"] .mfp-iframe-scaler { padding-top:25% }
.gmedia-phantom [data-ext="pdf"] .mfp-iframe-scaler { padding-top:56.25% }
.gmedia-phantom .mfp-iframe-scaler iframe { box-shadow:none; background-color:rgba(0, 0, 0, 0.5); }
.gmedia-phantom .mfp-comments-container { z-index:2; }
.gmedia-phantom .mfp-comments-container { display:block; line-height:120%; position:absolute; right:0; top:0; height:100%; width:0; opacity:0; filter:alpha(opacity=0); overflow:hidden; box-sizing:border-box; padding:40px 0; margin:0; transition:transform 0.6s, width 0.6s, height 0.6s, opacity 0.3s; -webkit-transition:transform 0.6s, width 0.6s, height 0.6s, opacity 0.3s; }
.gmedia-phantom .mfp-comments-container * { box-sizing:border-box; }
.gmedia-phantom .mfp-comments-content { position:relative; padding:0; box-sizing:content-box; height:100%; width:calc(100% + 16px); min-width:320px; background-color:#ffffff; overflow:hidden; overflow-y:scroll; }
.gmedia-phantom .mfp-comments-wrapper { width:100%; }
.gmedia-phantom .mfp-comments-wrapper { position:relative; z-index:1; }
.gmedia-phantom .mfp-comments-content iframe { height:100%; width:100%; margin:0; padding:0; border:none; box-shadow:none; min-height:100%; transition:opacity 0.4s; -webkit-transition:opacity 0.4s; }
.gmedia-phantom .mfp-close-comments { position:absolute; right:1px; top:1px; padding:2px; color:#010101; line-height:110%; border:1px solid transparent; border-radius:50%; width:1em; height:1em; text-align:center; font-weight:bold; font-family:Arial, Baskerville, monospace; box-sizing:content-box; font-size:16px; cursor:pointer; z-index:2; }
.gmedia-phantom .mfp-close-comments:hover { background-color:#fefefe; border-color:#bebebe; }
.gmedia-phantom .mfp-comments-open .mfp-container,
.gmedia-phantom .mfp-comments-open .mfp-container:before { transition:height 0.6s; -webkit-transition:height 0.6s; }
.gmedia-phantom .mfp-comments-open .mfp-container:before { height:0; }
.gmedia-phantom .mfp-comments-open .mfp-content { padding:0 330px 20% 0; min-height:100%; }
.gmedia-phantom .mfp-comments-open .mfp-comments-container { width:320px; overflow-y:visible; font-size:14px; line-height:120%; display:block; }
.gmedia-phantom .mfp-image-loaded.mfp-comments-open .mfp-comments-container,
.gmedia-phantom .mfp-iframe-loaded.mfp-comments-open .mfp-comments-container { opacity:1; filter:alpha(opacity=100); }
.gmedia-phantom .mfp-zoom-in.mfp-ready.mfp-comments-open .mfp-arrow { opacity:0; filter:alpha(opacity=0); pointer-events:none; -webkit-pointer-events:none; }
.gmedia-phantom .mfp-comments-loading .mfp-comments-content { background-image:url(../img/loader.gif); background-repeat:no-repeat; background-position:50% 50%; }
.gmedia-phantom .mfp-comments-loading .mfp-comments-content iframe { opacity:0; filter:alpha(opacity=0); }
.gmedia-phantom .mfp-comments-loaded .mfp-comments-content iframe { opacity:1; filter:alpha(opacity=100); }
@media screen and (max-width:800px) {
  .gmedia-phantom .mfp-buttons-bar .mfp-button.mfp-share { display:none; }
  .gmedia-phantom .mfp800-hide-arrows .mfp-arrow { opacity:0; visibiliy:hidden; }
  .gmedia-phantom .mfp-comments-open .mfp-content { padding-right:0; }
  .gmedia-phantom .mfp-comments-container { min-width:308px; padding:0; width:100%; position:relative; display:none; margin-bottom:40px; }
  .gmedia-phantom .mfp-comments-content { min-width:308px !important; }
  .gmedia-phantom .mfp-comments-content { min-height:240px; padding-top:10px; }
  .gmedia-phantom .mfp-comments-open .mfp-comments-container { margin-top:-5px; width:100%; height:auto; }
}
.gmPhantom_Details table { border-collapse:collapse; border-spacing:0px; margin:0; padding:0; border:none; width:auto; background:transparent none; color:inherit; }
.gmPhantom_clearfix::after { visibility:hidden; display:block; font-size:0px; content:" "; clear:both; height:0px; }
.gmPhantom_Details table tr,
.gmPhantom_Details table tr:hover,
.gmPhantom_Details table tr td { padding:0px; margin:0; border:none; background:transparent none; color:inherit; }
.gmPhantom_Details .gmPhantom_terms { padding-top:20px; margin-bottom:10px; text-align:left; }
.gmPhantom_Details .gmPhantom_terms a { margin-right:5px; }
.gmPhantom_Details .gmPhantom_terms a:last-child { margin-right:0; }
.gmPhantom_Details .gmPhantom_description { text-align:left; position:relative; }
.gmPhantom_Details .gmPhantom_description .gmPhantom_title { font-size:18px; line-height:120%; color:#f3f3f3; margin:0px; }
.gmPhantom_Details .gmPhantom_description .gmPhantom_title a { color:inherit }
.gmPhantom_Details .gmPhantom_description .gmPhantom_title:empty { display:none; }
.gmPhantom_Details .gmPhantom_description p { position:relative; font-size:12px; line-height:16px; word-wrap:break-word; }
.gmPhantom_Details .gmPhantom_description .gmPhantom_text { margin-top:10px; overflow:hidden; position:relative; color:#f3f3f3; }
.gmPhantom_Details .gmPhantom_description .gmPhantom_text:empty { display:none; }
.gmPhantom_Details .gmPhantom_tags_container { margin-bottom:10px; }
.gmPhantom_Details .gmPhantom_other_terms { color:#f3f3f3; font-size:14px; }
.gmPhantom_Details .gmPhantom_other_terms .gmPhantom_other_terms_table { text-align:left; color:#f3f3f3; }
.gmPhantom_Details .gmPhantom_other_terms .gmPhantom_other_terms_table .gmPhantom_term_key { width:120px; padding-right:4px; vertical-align:top; }
.gmPhantom_Details .gmPhantom_other_terms .gmPhantom_other_terms_table .gmPhantom_term_value { text-align:right; vertical-align:top; }
.gmPhantom_Details .gmPhantom_other_terms .gmPhantom_other_terms_table td { padding-bottom:4px; }
